.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    /*justify-content: center;*/
    background-color: rgb(255, 210, 113);
}



.results-section * {
    font-size: 70px;
    font-style: italic;
}



/*CSS Styling for the slider*/
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: linear-gradient(to right, green, red);
    border-radius: 12px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

#basic-input-speed-range{
    font-size: 70px; 
    background-color: transparent; 
    border-radius: 0px;
    text-align: center;
    /*border: none;*/
    box-sizing: content-box;

    width: 100%;
    /*
    border: 2px solid #ccc;
    color: #000; 
    padding: 10px; 
    border-radius: 5px; 
    outline: none;
    width: 100%; 
    box-sizing: border-box; 
    */
}

#speed-converter-titles{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}


.results-section {
    display: flex;
    justify-content: center;

    gap: 15px;

}

#results-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#results-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-width: 50px;
    max-width: 150px;
}

#projected-time-title:first-child {
    margin-top: 90px;
}

#avg-pace-projected-time-results-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.avg-pace-projected-time {
    display: flex;
    justify-content: space-between;
    gap: 15px
}

/*
html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
*/


body{
    margin: 0;
    text-align: center;
    background: linear-gradient(0deg, #63ff7098, #ffe798, #ff9b17);

    font-family: "Dosis", sans-serif;
    height: inherit;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
}


#made-by {
    left: 0;
    bottom: 0;
    text-align: left;
    margin: 3px;

    font-family: "Cursive", Brush Script MT;
}

#link-to-github {
    right: 0;
    bottom: 0;
    text-align: right;
    margin: 3px;

    font: "Consolas";
}

input[type="range"] {
    width: 400px;
}

/*Here comes the track and field logo*/
/*
.track-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    background-color: #f0f0f0;
}

.track-container {
    width: calc(300px * var(--scale));
    height: calc(150px * var(--scale));
    position: relative;
    background-color: #c63c26;
    border-radius: calc(75px * var(--scale));
}

.lane {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(90% * var(--scale));
    height: calc(80% * var(--scale));
    border: calc(2px * var(--scale)) solid white;
    border-radius: calc(75px * var(--scale));
    transform: translate(-50%, -50%);
}

.lane:nth-child(2) {
    width: calc(80% * var(--scale));
    height: calc(60% * var(--scale));
}

.lane:nth-child(3) {
    width: calc(70% * var(--scale));
    height: calc(40% * var(--scale));
}

.lane:nth-child(4) {
    width: calc(60% * var(--scale));
    height: calc(20% * var(--scale));
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: calc(50% * var(--scale));
    height: calc(50% * var(--scale));
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 80%;
    max-height: 80%;
}


:root {
    --scale: 1;
}

*/

/*Here is CSS for the Swiper*/
#swiper {
    width: 100vw;
    height: 100px;
    background: linear-gradient(90deg, rgb(232, 250, 203) , #f8aa02e5);;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
}

#value {
    font-size: 24px;
}

#swiper-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
}