.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    /*justify-content: center;*/
    background-color: rgb(255, 210, 113);
}


#speed-converter-titles{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}


.results-section {
    display: flex;
    justify-content: center;

    gap: 15px;

}

#results-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#results-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-width: 50px;
    max-width: 150px;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}



body{
    margin: 0;
    text-align: center;
    background: linear-gradient(0deg, #63ff7098, #ffe798, #ff9b17);

    font-family: "Dosis", sans-serif;
    height: inherit;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
}


#made-by {
    left: 0;
    bottom: 0;
    text-align: left;
    margin: 3px;

    font-family: "Cursive", Brush Script MT;
}

#link-to-github {
    right: 0;
    bottom: 0;
    text-align: right;
    margin: 3px;

    font: "Consolas";
}

input[type="range"] {
    width: 400px;
}